@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css");


body {
    background: #e9e9e9;
}
h1 {
    text-align: center;
}
h3 {
    font-weight: bolder;
}
h4 {
    color: dodgerblue;
    font-weight: bold;
}
.button {
    margin: auto;
}
.tour-pics {
    object-fit: cover;
    width:100%;
    height: 20rem;
}
.single-tour {
    max-width: 620px;
}
.level-shrink {
    flex-shrink: 1;
}
.btn {
    font-size: 0.9rem;
    border: none;
    padding: 0 0 0.8rem;
    color: dodgerblue;
    font-weight: bold;
}
.blurb {
    margin-bottom: 1rem;
}
